module.exports.regex = [
  {
    regex: /hello/,
    description: "Test match"
  }
];

module.exports.tests = [
  {
    test: function(paste) {
      // http://emailregex.com/
      const email_regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      let matches = paste.match(email_regex);

      return (matches && matches.len > 10);
    },
    description: "Email"
  }
]
